{
  "arrowParens": "always",
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "trailingComma": "all",
  "printWidth": 130,
  "tabWidth": 2,
  "endOfLine": "auto",
  "bracketSameLine": false
}
