:global {
  * {
    padding: 0;
    margin: 0;
    border: 0;
    color: var(--color-text-primary);
    font: var(--font-body-r-15);
  }

  *,
  *:before,
  *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  :focus,
  :active {
    outline: none;
  }

  a:focus,
  a:active {
    outline: none;
  }

  nav,
  footer,
  header,
  aside {
    display: block;
  }

  html,
  body,
  #root {
    width: 100dvw;
    height: 100dvh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: transparent;
  }

  #root {
    position: relative;
    z-index: 1;
  }

  input::-ms-clear {
    display: none;
  }

  input,
  button,
  textarea {
    font-family: inherit;
  }

  button {
    cursor: pointer;
    background-color: transparent;
  }

  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

  a,
  a:visited {
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
  }
}
